body {
    background-color: #ff7f96;
}
img {
    width: 60%;
    display: block;
    margin: 0 auto;
}
h2 {
    color: #4f54af;
    font-family: Helvetica;
    text-align: center;
}
.col-9 {
    width: 75%;
}
.col-3 {
    width: 25%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

